.build

*.exe
*.pdb

.DS_Store
*.dSYM

build_debug
build_release

modules/Http_Server/examples/example
modules/Http_Server/examples/sse
modules/Http_Server/examples/ws
modules/Http_Server/examples/tls

modules/JavaScript/examples/js
modules/JavaScript/benchmarks/run_benchmark
modules/JavaScript/tests/main

modules/LibreSSL/*_x64*
modules/LibreSSL/*_arm64*
modules/LibreSSL/LibreSSL-*/build